*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Orbit', sans-serif;
    list-style: none;
    text-decoration: none;

}

.page_content{
    margin-right: 400px;
    margin-left: 42px;
    margin-bottom: 150px;
}

.CV_title{
    font-family: 'Orbit', sans-serif;
    color: white;
    font-size: 45px;
    margin-bottom: 15px;
}

div.cv_section {
    color: white;
    margin-bottom: 15px;
}

div.year{
    color: white;
    font-size: 15px;
}

div.cv_section div.element{
    display: flex;
    flex-direction: row;
}

div.cv_section div.element p{
    font-size: 18px;
}

div.cv_section div.element div.year{
    min-width: 150px;
}


/* New footer */
footer{
    background-color: rgb(84, 84, 84);
    position: sticky;
    height: 100px;
    margin-top: -100px;
    border-top: white 1px solid;
    top: 100%;
}


.container {
    width: 100%;
    padding-top: 40px;
}

div.row {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
}

div.col-3 {
    width: 33.33%;
    text-align: center;
}
/* New footer */

@media (max-width: 1200px){


    span{
        margin-left: 5px;
        margin-right: 5px;
    }

    /*stops extra whitespace when under 800px*/
    html, body{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    
}

/* CSS element whose behaviour is defined by us*/
header{
    position: relative;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
    
}

#main{
    overflow: auto;
    padding-bottom: 100px;
}

html {
    min-height: 100%;
}

body{
    background-color: rgb(84, 84, 84);
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    display: block;
    min-height: 100vh;
    height: 100%;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color:white;
}

.navlist{
    display: flex;
}

.navlist a{
    color: white;
    margin-left: 60px;
    margin-right: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    /*transition: all .55s ease;*/

}

.navlist a:hover{
    border-bottom: 2px solid;
}

#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10000;
    cursor: pointer;
    display: none;
}


a.social_icon {
    background: none;
    color: white;
}

a.social_icon:hover{
    color:#fc916c;
}



@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }

}

@media (max-width: 1350px){
    section{
        padding:0 12%;
        transition: .2s;
    }

    .page_content{
        margin-left: 10px;
        margin-right: 150px;
    }

    .footer_wrapper{
        /*margin-left: 5px;
        margin-right: 5px;*/
        margin-top: 30px;
        margin-bottom: 40px;
        padding-left: 150px;
        padding-right: 150px;
        font-size: 15px;
    }


    span{
        margin-left: 5px;
        margin-right: 5px;
    }

    /*stops extra whitespace when under 800px*/
    html, body{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
}

@media (max-width: 900px){
    /*stops extra whitespace when under 800px*/
    html, body{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    #menu-icon {
        display: block;
    }

    .navlist{
        position: absolute;
        top: 100%;
        right:-100%;
        font-weight: 200;
        width: 210px;
        height: 40vh;
        background: rgb(125, 125, 125);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px 10px;
        transition: all .55 ease;
    }

    .navlist a{
        font-weight: 200;
        margin-left: 0;
        display: block;
        margin: 10px 0;
    }
    .navlist.open{
        right:0;
    }

    .page_content{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 50px;
    }

    span{
        margin-left: 5px;
        margin-right: 5px;
    }

    /*stops extra whitespace when under 800px*/
    html, body{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

}

@media (max-width: 800px){

    footer{
        height: 150px;
        margin-top: 0px;
    } 

    .navlist{
        height: 240px;
    }

}

@media (max-width: 680px){


    .page_content{
        padding-left: 0;
        padding-right: 0;
    }

    .logo{
        font-size: 20px;
    }

    .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    footer{
        height: 150px;
        margin-top: 0px;
    } 

    div.col-3{
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 350px){

    .navlist{
        height: 270px;
    }

}